---
post_type: video
date: 2010-03-30T20:25:00-04:00
uri: https://www.youtube.com/embed/IoQ4tka1zNk?feature=oembed&amp;enablejsapi=1
caption: How to Replace Yourself with a Very Small Shell Script by Hilary Mason
---

{{ import {video} from "layouts/stream/functions.vto" }}
{{ video(uri, caption) }}
