---
post_type: video
date: 2010-03-02T23:59:00-04:00
uri: https://www.youtube.com/embed/hE7k0_9k0VA?feature=oembed&amp;enablejsapi=1&amp
caption: Reddit Interviews Peter Norvig
---

{{ import {video} from "layouts/stream/functions.vto" }}
{{ video(uri, caption) }}
