---
post_type: quote
date: 2010-03-07T23:16:00-04:00
---

<blockquote class="post-quote" cite="http://www.paulgraham.com/essay.html">
    Who cares about symbolism in Dickens? Dickens himself would be more
    interested in an essay about color or baseball.
</blockquote>

<p>
    Paul Graham in <cite> <a href="http://www.paulgraham.com/essay.html"> The
    Age of the Essay </a> </cite>
</p>
