---
post_type: video
date: 2010-03-21T10:10:00-04:00
uri: https://www.youtube.com/embed/fPrvnlvnu-k?feature=oembed&amp;enablejsapi=1
caption: TWiST #46 with David Heinemeier Hansson
---

{{ import {video} from "layouts/stream/functions.vto" }}
{{ video(uri, caption) }}
