---
post_type: image
date: 2010-03-29T16:36:00-04:00
images:
  -
    src: /stream/2010/03/009.jpg
caption: Inspiration via <a href="http://blog.signalnoise.com/2010/03/29/inspiration-jasper-goodall/">James White</a>
---

{{ import { image } from "layouts/stream/functions.vto" }}
{{ image(images, caption, "") }}
