/*
 * The usage pattern derived from Rob Weychert=
 * https://v6.robweychert.com/blog/2018/02/v6-color/
 *
 * The colors themselves are based on the Catppuccin color color theme,
 * Latte for light mode and Macchiato for dark mode
*/

@media (prefers-color-scheme: light){
    :root {
        --bg: #e7e9ee;           /* 2nd lightest, distinguishable from white */
        --bg-alt: #eff1f5;       /* Lightest color, usually white */
        --borders: #adb0b8;      /* Darker than bg, borders & non-text UI */
        --text: #5d5f75;         /* Dark color, body text */
        --text-hdr: #4d4f67;     /* Darker color, headers */
        --metadata: #7686f5;     /* 2nd brightest, metadata */
        --highlight: #3465ec;    /* Most distinct, links */
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --bg: #252739;           /* 2nd darkest, distinguishable from black */
        --bg-alt: #1e202f;       /* Lightest color, usually white */
        --borders: #595b6e;      /* Lighter than bg, borders & non-text UI */
        --text: #bbc2dc;         /* Dark color, body text */
        --text-hdr: #cfd6f1;     /* Darker color, headers */
        --metadata: #b6bef9;     /* 2nd brightest, metadata */
        --highlight: #92b3f4;    /* Most distinct, links */
    }
}
