/*
 * The usage pattern derived from Rob Weychert=
 * https://v6.robweychert.com/blog/2018/02/v6-color/
 *
 * The colors themselves are from the Colors Cafe Threads account
 * https://www.threads.net/@colours.cafe/post/C_NnHW7IczN?xmt=AQGzMAmDO-haykbbMO8GvSRAi3FKBbeMPmGpOgchYTn_0Q
*/

@media (prefers-color-scheme: light){
    :root {
        --bg: #e3dcc4;           /* 2nd lightest, distinguishable from white */
        --bg-alt: #f0e4d8;       /* Lightest color, close to white */
        --borders: #c7813f;      /* Contrasting to bg, borders & non-text UI */
        --text: #39170b;         /* Dark color, body text */
        --text-hdr: #4e1e43;     /* Darkest color, headers */
        --metadata: #865527;     /* Bright color, metadata */
        --highlight: #396C33;    /* Most distinct, links */
    }
}

@media (prefers-color-scheme: dark){
    :root {
        --bg: #39170B;           /* 2nd darkest, distinguishable from black */
        --bg-alt: #4e1e43;       /* Darkest color, close to black */
        --borders: #865527;      /* Contrasting to bg, borders & non-text UI */
        --text: #e3dcc4;         /* Light color, body text */
        --text-hdr: #f0e4d8;     /* Lightest color, headers */
        --metadata: #c7813f;     /* Bright color, metadata */
        --highlight: #81ad45;    /* Most distinct, links */
    }
}
