---
layout: layouts/stream/smart.vto
post_type: video
date: 2009-11-26T16:41:00-04:00
uri: https://www.youtube.com/embed/up0kiOJvUpI?feature=oembed&amp;enablejsapi=1
caption: "RailsConf 09:  David Heinemeier Hansson, &ldquo;Rails 3 &hellip;and the real secret to high productivity"
---
