---
post_type: fleet
date: '2025-03-08T20:22:11+0530'
---
<p>
  I moved my bookmarks from <a href="https://pinboard.in">Pinboard</a> to
  <a href="https://raindrop.io">Raindrop</a> and in the process realized that I
  have bookmarks going back all the way to 2006. Sadly, a lot of the oldest
  links are now dead. Memento mori, this too shall pass, all things are
  impermanent, etc. etc.
</p>
