---
layout: layouts/stream/smart.vto
post_type: images
date: 2009-10-11T22:44:00-04:00
images:
  -
    src: /stream/2009/10/003.png
    alt: Depicton of the Browser Wars from 2002 to 2008 using medieval knights
caption: The Browser Wars
---
