---
post_type: fleet
date: 2024-08-06T22:45:00+5:30
---

<p>
    Recently I've been able to work 8 to 10 hour days, only really stopping for
    meals. Even a little while ago that felt impossible. This is good.
</p>
