---
post_type: fleet
date: '2024-08-07T17:27:32+0530'
---

<p>
    I've been writing a bunch of TypeScript lately, and it's&hellip; fine?
    With Deno and the Deno language server, the developer experience is quite
    enjoyable, though apparently there are <a
    href="https://dbushell.com/2024/08/05/the-deno-package-paradox/">storm
    clouds brewing</a>.
</p>
