---
post_type: fleet
date: '2024-08-18T20:30:46+0530'
---

<p>
    Now that the website is at a stable point, I'm finally going to work through
    <a href="https://beautifulracket.com">Beautiful Racket</a> and properly
    learn some Racket. And after that, I'll come back to the site and write an
    ActivityPub server so that I can stop manually posting to Mastodon.
</p>
