---
post_type: fleet
date: '2024-08-24T23:26:48+0530'
---

<p>
    Today I worked through the <a href="https://beautifulracket.com/bf/intro.html">
    <code>bf</code> chapter of Beautiful Racket</a>. I'm enjoying, but also
    kinda wary of, the macro-centric approach to writing interpreters.
</p>
