---
post_type: fleet
date: '2024-08-27T20:00:00+0530'
---

<p>
  I brought over my <a href="/research">research page</a> to Version 4. I'm once
  again pleased with how (reasonably) straightforward it has become to build
  nice layouts with modern CSS. Thank you past me for writing good,
  semantic HTML which made it easy to move the page over from Version 3.
</p>

<p>
  There are also new OpenGraph images which should make for nicer previews on
  social media platforms.
</p>
