---
post_type: quote
date: '2024-08-27T21:40:26+0530'
---


<blockquote class="post-quote"
            cite="https://warrenellis.ltd/books/the-novel-of-the-future-anais-nin/">
  I think we should always write about what we know, or what we wish to know.
</blockquote>

<p>
  Anaïs Nin in <cite>The Novel of the Future</cite>
  (via <a href="https://warrenellis.ltd/books/the-novel-of-the-future-anais-nin/">
  Warren Ellis</a>).
</p>
