---
post_type: fleet
date: '2024-08-29T22:42:03+0530'
---

<p>
  My therapist gave me homework today. Between that, staying with my parents,
  and spending a lot of time working on my website and other web-related stuff,
  it's like I'm 16 all over again.
</p>
