---
post_type: fleet
date: '2024-09-03T14:07:42+0530'
---

<p>
  I really hate how in 2024 putting decent sidenotes on a webpage requires one of
  JavaScript, non-semantic HTML, or a site generator to do the reasonably
  correct thing.
</p>
