---
layout: layouts/default.vto
---

<article class=" post row">
    {{ import { meta } from "./meta.vto"}}
    {{ meta(page.data) }}

    <div class="mainbar">
        {{ content }}
    </div>
   
</article>
