{{ export function meta (post) }}
    <div class="wide-sidebar">

      <a class="metadata" href="{{ post.url }}">
        <time class="post-date" datetime="{{ post.date |> date('yyyy-mm-dd h:mm')}}">
          {{ post.date |> date('MMM do, yyyy')}}
        </time>
        at <time class="post-time">{{ post.date |> date(' h:mma') }}</time>
      </a>
    </div>
{{ /export }}
