{{ export function meta (post) }}
    <div class="metadata wide-sidebar">

      <a class="post-date" href="{{ post.url }}">
        <time class="post-date" datetime="{{ post.date |> date('yyyy-mm-dd h:mm')}}">
          {{ post.date |> date('MMM do, yyyy')}}
        </time>
      </a>

      <p class="post-time">at <time>{{ post.date |> date(' h:mma') }}</time></p>
    </div>
{{ /export }}
