---
layout: layouts/default.vto
---

<article class="row">
    {{ import { meta } from "./functions.vto" }}
    {{ meta(page.data) }}

    <div class="mainbar">

        {{ content }}

    </div>
</article>
