---
layout: layouts/stream/smart.vto
post_type: quote
date: 2010-02-14T20:02:00-04:00
---


<blockquote>
    [Computing is] a place where you don&rsquo;t have to be a Ph.D. or anything
    else. It&rsquo;s a place where you can still be an artisan. People are
    willing to pay you if you&rsquo;re any good at all, and you have plenty of
    time for screwing around.
</blockquote>
<p>Alan Kay in 1972</p>
