---
layout: layouts/stream/smart.vto
post_type: link
date: 2010-02-16T17:36:00-04:00
uri: http://venomousporridge.com/post/389785000/a-conversation-i-have-every-month-or-so
title: A conversation I have every month or so
---

<blockquote>

    <strong>Website: </strong> Website: Take a look at our menu! It’s a PDF of a
    screenshot of a scan of a Word document printed on a dishtowel. With fonts!

</blockquote>
