---
layout: layouts/stream/smart.vto
post_type: video
date: 2010-02-24T20:41:00-04:00
uri: https://www.youtube.com/embed/0CDXJ6bMkMY?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque
caption: David Heinemeier Hansson at Startup School 08
---
