---
post_type: fleet
date: '2024-09-12T21:18:11+0530'
---

<p>
    I finally sat down and wrote a list of (some of) the projects I want to do.
    There's probably enough in there to keep me busy for a couple of years, but
    for now let's just see how much I can get done by the end of the year. And
    that means I'll probably be writing a lot of TypeScript in the near future.
    That's not ideal, but TypeScript seems like the most suitable tool at hand
    for the time being.
</p>
