---
title: Stream
renderOrder: 1
layout: layouts/default.vto
---

{{ import { meta } from "/layouts/stream/meta.vto"}}
<ul class="post-list">

  {{ for post of search.pages("section=stream basename!=index", "date=desc", 10) }}
  <li class="post row">

    {{ meta(post) }}
   
    <div class="mainbar">
        {{ post.children }}
    </div>
  </li>
  {{ /for }}

</ul>

<section class="pagination row">
    <a id="older-pages" class="meta" href="/stream/pages/2">Older &rarr;</a>
</section>
