---
post_type: fleet
date: '2025-02-02T20:37:44+0530'
---

<p>
    I really want to go deep into a programming language and ecosystem, but
    every project I can think of involves a different one. The current
    contenders are Rust, TypeScript and Racket, which are all sufficiently
    different from one another that any lessons I learn from one probably won't
    transfer to the others.
</p>
