---
post_type: fleet
date: '2025-01-25T19:29:13+0530'
---
<p>
  Today I learned (thanks to <a href="https://craigmod.com/roden/099/">Craig
  Mod</a>) that Braun makes a line of <a
  href="https://us.braun-clocks.com/collections/digital-clocks">very nice
  digital alarm clocks</a>. They're not cheap, but not extortionate either.
</p>
